<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>v-if，v-show,v-for</title>
		<script src="vue.js"></script>
	</head>
	<body>
		  <div id="root">
		  <div v-if="show">hello world</div>
		  <div v-show="show">hello world</div><!--只是隐藏元素，并未销毁-->
		  <button @click="handleClick">taggle</button>
		  <ul>
			  <li v-for="item of list" :key="item">{{item}}</li>
		  </ul>
	     </div>
	<script>
	     new Vue({
	     	el:"#root",
			data:{
			   title:"this hello world",
			   show: true,
			   list: [1,2,3]
			   },
			   methods:{
				   handleClick:function(){
					   this.show = !this.show;
				   }
			}
	     })
		    
		 
	</script>
	</body>
</html>