<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script  src="./vue.js"></script>
</head>
<body>
    <div id="root">
		<div v-bind:title="title">hello world</div>
		<input :value="content"/>
		<input v-model="content"/>
		<div>{{content}}</div>
		姓：<input v-model="firstName"/>
		名：<input v-model="lastName"/>
		<div>{{this.firstName}}</div>
		<div>{{fullName}}</div>
		<div>{{count}}</div>
	</div>
	<p>
	    我修改了第一次,我修改了第二次，我修改了第三次,云端第四次修改
	</p>
	<script>
	     new Vue({
	     	el:"#root",
			data:{
			   //msg:"hello world hi hi",
			   title:"this hello world",
			   content:"this is content",
			   firstName:"",
			   lastName:"",
			   count:0
			},
			computed: {
				fullName: function(){
					return this.firstName + ' ' + this.lastName
				}
			},
			watch:{
				firstName:function(){
					this.count++
				},
				lastName:function(){
					this.count++
				}
			}
	     })
	</script>
	
         
</body>
</html>