<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>todolist</title>
		<script src="vue.js"></script>
	</head>
	<body>
		  <div id="root">
		 <input v-model="inputValue"/>
		  <button @click="handleSubmit">提交</button>
		  <ul>
			 <!--<li v-for="(item,index) of list" :key="index">{{item}}</li>-->
			 <todo-item v-for="(item,index) of list" :key="index" :content="item" :index="index"
			 @delete="handleDelete"></todo-item>
		  </ul>
	     </div>
	<script>
       Vue.component('todo-item',{
	    props: ['content','index'],//接收外部传进来的参数,从父组件接收content,同时接收下标
		template:'<li @click="handleClick">{{content}}</li>',
        methods:{
             handleClick:function(){
				 this.$emit('delete',this.index)
			 }
		  }
		})//全局组件
    //    var ToduItem = {
	// 	   template: '<li>item</li>'
	//    } 局部组件


	     new Vue({
	     	el:"#root",
			// components:{
			// 	"todo-item":ToduItem
			// },
			data:{
			   inputValue:'hello',
			   list:[]
			   },
			methods:{
				handleSubmit:function(){
				this.list.push(this.inputValue)
				this.inputValue = ''
			    },
				handleDelete:function(index){
					//alert('delete')
					this.list.splice(index,1)
				}
			}
			
			
	     })
		    
		 
	</script>
	</body>
</html>